
.row {

}
#sidebar
{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background-color: #7386D5;
    color: #fff;
    transition: all 0.3s;

}

#sidebar.active
{
    margin-left: -250px;
}
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}
.clearfix {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#logout {
    align-content: right;
    justify-content: right;
}
.page-footer
{
    margin-top: 200px;
}
